.environment-variables-panel {
  margin-top: 15px;
}

.env-items-list {
  margin-top: 10px;
}

.env-items-list > * + * {
  margin-top: 2px;
}

.env-items-list .env-item {
  display: flex;
}

.env-item .env-item-key {
}

.env-item .env-item-value {
  display: flex;
}

.env-item .env-item-value .input-group {
  flex: 1;
}
